<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
    <!-- 引入配置文件 -->
    <properties resource="mybatis/generator/mybatis-generator.properties" />
    <!-- 指定数据连接驱动jar地址 -->
    <classPathEntry location="${generator.classPath}" />
    <!-- 一个数据库一个context -->
    <context id="BuildingTables" targetRuntime="Mybatis3">
        <!-- defaultModelType="hierarchical" -->
        <property name="javaFileEncoding" value="UTF-8" />
        <property name="suppressTypeWarnings" value="true" />

        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />
        <plugin type="org.mybatis.generator.plugins.CaseInsensitiveLikePlugin" />
        <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin" />
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin" />
        <plugin type="org.mybatis.generator.plugins.CachePlugin" />


        <plugin type="org.mybatis.generator.plugins.MapperConfigPlugin">
            <property name="fileName" value="${generator.mapperConfigFilename}" />
            <property name="targetPackage" value="mybatis" />
            <property name="targetProject"
                      value="${generator.targetProject}/src/main/resources" />
        </plugin>
        <plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
            <property name="searchString" value="Example$" />
            <property name="replaceString" value="Criteria" />
        </plugin>

        <!-- 注释 -->
        <commentGenerator>
            <property name="suppressAllComments" value="true" /><!-- 是否取消注释 -->
            <property name="suppressDate" value="true" /> <!-- 是否生成注释代时间戳 -->
        </commentGenerator>

        <!-- jdbc连接 -->
        <jdbcConnection driverClass="${jdbc.driverClassName}"
                        connectionURL="${jdbc.url}" userId="${jdbc.username}" password="${jdbc.password}" />
        <!-- 类型转换 -->
        <javaTypeResolver>
            <!-- 是否使用bigDecimal， false可自动转化以下类型（Long, Integer, Short, etc.） -->
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>



        <!-- 生成实体类地址 -->
        <javaModelGenerator targetPackage="${generator.domainPackage}"
                            targetProject="${generator.targetProject}/src/main/java">
            <!-- 是否在当前路径下新加一层schema,eg：fase路径com.oop.eksp.user.model， true:com.oop.eksp.user.model.[schemaName] -->
            <property name="enableSubPackages" value="true" />
            <!-- 是否针对string类型的字段在set的时候进行trim调用 -->
            <property name="trimStrings" value="true" />
            <property name="rootClass" value="com.mall.core.domain.entity.BaseEntity"/>
        </javaModelGenerator>

        <!-- 生成mapxml文件 -->
        <sqlMapGenerator targetPackage="${generator.mapperPackage}"
                         targetProject="${generator.targetProject}/src/main/resources">
            <!-- 是否在当前路径下新加一层schema,eg：fase路径com.oop.eksp.user.model， true:com.oop.eksp.user.model.[schemaName] -->
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!-- 生成mapxml对应client，也就是接口dao -->
        <javaClientGenerator targetPackage="${generator.daoPackage}"
                             targetProject="${generator.targetProject}/src/main/java" type="XMLMAPPER">
            <!-- 是否在当前路径下新加一层schema,eg：fase路径com.oop.eksp.user.model， true:com.oop.eksp.user.model.[schemaName] -->
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!--<table tableName="blog_content" domainObjectName="Content"-->
               <!--enableCountByExample="false" enableUpdateByExample="false"-->
               <!--enableDeleteByExample="false" enableSelectByExample="false"-->
               <!--selectByExampleQueryId="false">-->
            <!--&lt;!&ndash;避免text类型生成withBlog类&ndash;&gt;-->
            <!--<columnOverride column="title" javaType="java.lang.String" jdbcType="VARCHAR"/>-->
            <!--<columnOverride column="text" javaType="java.lang.String" jdbcType="VARCHAR"/>-->
            <!--<columnOverride column="summary" javaType="java.lang.String" jdbcType="VARCHAR"/>-->
            <!--<columnOverride column="user_agent" javaType="java.lang.String" jdbcType="VARCHAR"/>-->
            <!--<columnOverride column="remarks" javaType="java.lang.String" jdbcType="VARCHAR"/>-->
        <!--</table>-->
        <!--<table tableName="blog_mapping" domainObjectName="Mapping"-->
               <!--enableCountByExample="false" enableUpdateByExample="false"-->
               <!--enableDeleteByExample="false" enableSelectByExample="false"-->
               <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <table tableName="attribute_name" domainObjectName="AttributeName"
        enableCountByExample="false" enableUpdateByExample="false"
        enableDeleteByExample="false" enableSelectByExample="false"
        selectByExampleQueryId="false">
            <ignoreColumn column="is_available"/>
            <ignoreColumn column="is_deleted"/>
            <ignoreColumn column="version_no"/>
            <ignoreColumn column="create_userid"/>
            <ignoreColumn column="create_username"/>
            <ignoreColumn column="create_userip"/>
            <ignoreColumn column="create_usermac"/>
            <ignoreColumn column="create_time"/>
            <ignoreColumn column="create_time_db"/>
            <ignoreColumn column="server_ip"/>
            <ignoreColumn column="update_userid"/>
            <ignoreColumn column="update_username"/>
            <ignoreColumn column="update_userip"/>
            <ignoreColumn column="update_usermac"/>
            <ignoreColumn column="update_time"/>
            <ignoreColumn column="update_time_db"/>
            <ignoreColumn column="client_versionno"/>
        </table>
    </context>
</generatorConfiguration>