<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.core.domain.mapper.product.AttributeValueMapper">


  <sql id="Base_Column_List">
    id, parent_id, attribute_name_id, value, sort_value, type
    <include refid="com.mall.core.domain.mapper.CommonSql.Common_Column_List"/>
  </sql>

  <sql id="attribute_value_if_sql">
    <if test="atttributeNameId != null">
      AND attribute_name_id = #{atttributeNameId}
    </if>
    <if test="type != null">
      AND  type = #{type}
    </if>
    <if test="isDeleted != null">
      AND is_deleted = #{isDeleted}
    </if>
    <if test="isAvailable != null">
      AND is_available = #{isAvailable}
    </if>
    <if test="isDeleted == null">
      AND is_deleted = FALSE
    </if>
    <if test="isAvailable == null">
      AND is_available = TRUE
    </if>
  </sql>

  <sql id="attribute_value_order_sql">
    <if test="createTimeDesc != null">
      ORDER BY create_time DESC
    </if>
    <if test="createTimeAsc != null">
      ORDER BY create_time ASC
    </if>
    <if test="orderBySortValueAsc">
      ORDER BY sort_value ASC
    </if>
  </sql>

  <insert id="insert" parameterType="com.mall.core.domain.entity.product.AttributeValue">
    insert into attribute_value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="attributeNameId != null">
        attribute_name_id,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="sortValue != null">
        sort_value,
      </if>
      <if test="type != null">
        type,
      </if>
      <include refid="com.mall.core.domain.mapper.CommonSql.Common_Insert_Key"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="attributeNameId != null">
        #{attributeNameId,jdbcType=BIGINT},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="sortValue != null">
        #{sortValue,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <include refid="com.mall.core.domain.mapper.CommonSql.Common_Insert_Value"/>
    </trim>
  </insert>

  <update id="update" parameterType="com.mall.core.domain.entity.product.AttributeValue">
    update attribute_value
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="attributeNameId != null">
        attribute_name_id = #{attributeNameId,jdbcType=BIGINT},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="sortValue != null">
        sort_value = #{sortValue,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <include refid="com.mall.core.domain.mapper.CommonSql.Common_Update_Sql"/>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findByParams" parameterType="map" resultType="com.mall.core.domain.entity.product.AttributeValue">
    SELECT
    <include refid="com.mall.core.domain.mapper.CommonSql.Base_Column_List" />
    FROM attribute_value
    <where>
      <include refid="attribute_value_if_sql"/>
    </where>
    <include refid="attribute_value_order_sql"/>
  </select>

  <cache />
</mapper>