<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.core.domain.mapper.product.CategoryTreeMapper">

  <sql id="Base_Column_List">
    id, type, name, description
    <include refid="com.mall.core.domain.mapper.CommonSql.Common_Column_List" />
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.mall.core.domain.entity.product.CategoryTree">
    select
    <include refid="com.mall.core.domain.mapper.CommonSql.Base_Column_List" />
    from category_tree
    where id = #{id}
  </select>

  <insert id="insert" parameterType="com.mall.core.domain.entity.product.CategoryTree">
    insert into category_tree
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <include refid="com.mall.core.domain.mapper.CommonSql.Common_Insert_Key" />
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="type != null">
        #{type},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="description != null">
        #{description},
      </if>
      <include refid="com.mall.core.domain.mapper.CommonSql.Common_Insert_Value" />
    </trim>
  </insert>
  <update id="update" parameterType="com.mall.core.domain.entity.product.CategoryTree">
    update category_tree
    <set>
      <if test="type != null">
        type = #{type},
      </if>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="description != null">
        description = #{description},
      </if>
      <include refid="com.mall.core.domain.mapper.CommonSql.Common_Update_Sql" />
    </set>
    where id = #{id}
  </update>

  <cache />
</mapper>